<mat-toolbar color="primary">
  <span class="title-center">Help Me Decide</span>
</mat-toolbar>
<div class="content-center">
  <mat-card class="help-me-card" *ngIf="!helpNeeded">
    <mat-card-header>
      <mat-card-title>We all need help deciding things in life</mat-card-title>
      <mat-card-subtitle>We are here to make it simple for you all</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="needHelp()">
        <img mat-card-lg-image src="assets/helpmeplz.jpeg" alt="Help Me Plz Dog">
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="options-card" *ngIf="helpNeeded">
    <mat-card-header>
      <mat-card-title>Add your options below</mat-card-title>
    </mat-card-header>
    <img mat-card-lg-image src="assets/youcandoit.jpeg" alt="You Can Do It Dog">
    <mat-card-content>
      <mat-selection-list [multiple]="false" class="options-list">
        <mat-list-option *ngFor="let option of listOfOptions" [value]="option">
          {{option}}
        </mat-list-option>
      </mat-selection-list>
      <form (ngSubmit)="addOption()">
        <mat-form-field class="add-option">
          <mat-label>Add Option</mat-label>
          <input matInput type="text" [formControl]="newOption">
          <button *ngIf="newOption.value" matSuffix mat-icon-button aria-label="Clear" type="submit">
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="pickAtRandom()">Help Me Now</button>
    </mat-card-actions>
  </mat-card>

</div>